@page
@model MascotaFeliz.App.FrontEnd.Pages.ListaMascotasModel
@{
}
<h1>Lista de Mascotas</h1>
<h2>Aqui va la lista de las mascotas</h2>
<table class="table">
    <tr>
        <td>Id</td>
        <td>Nombre</td>
        <td>Color</td>
        <td>Especie</td>
        <td>Raza</td>
    </tr>
    @foreach (var mascota in Model.listaMascotas)
    {
        <tr>
            <td>@mascota.Id</td>
            <td>@mascota.Nombre</td>
            <td>@mascota.Color</td>
            <td>@mascota.Especie</td>
            <td>@mascota.Raza</td>
            <!--<td><a class="btn btn-primary table-btn" asp-page=".\DetallesDuenos" asp-route-duenoID="@mascota.Id">
                    Detalle Dueño
                </a></td>-->
    </tr>
    }
</table>