@page
@model MascotaFeliz.App.FrontEnd.Pages.ListaMascotasModel
@{
}
<h1>Lista de Mascotas</h1>
<h2>Aqui va la lista de las mascotas</h2>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>ID Dueño</td>
        <td>Nombre Dueño</td>
    </tr>
    @foreach (var mascota in Model.listaMascotas)
    {
        <tr>
            <td>@mascota.Id</td>
            <td>@mascota.Nombre</td>
            <td>@mascota.Dueno.Id</td>
            <td>@mascota.Dueno.Nombres</td>
            <td><a class="btn btn-primary table-btn" asp-page="./DetallesMascotas" asp-route-mascotaId="@mascota.Id">
                    Detalles
                </a></td>
            <td><a class="btn btn-primary table-btn" asp-page="./EditarMascotas" asp-route-mascotaId="@mascota.Id">
                    Editar
                </a></td>
    </tr>
    }
</table>
<a class = "btn btn-primary table-btn" asp-page="./EditarMascotas" class="btn-default">Agregar Mascota</a>