@page
@model MascotaFeliz.App.FrontEnd.Pages.EliminarDuenosModel
@{
     <h2>Dueño eliminado con exito</h2>
    /*<div>ID: @Model.dueno.Id</div>
    <div>NOMBRES: @Model.dueno.Nombres</div>
    <div>APELLIDOS: @Model.dueno.Apellidos</div>
    <div>DIRECCIÓN: @Model.dueno.Direccion</div>
    <div>TELÉFONO: @Model.dueno.Telefono</div>
    <div>CORREO: @Model.dueno.Correo</div>*/
    <div><a asp-page="./ListaDuenos" class="btn-default">Lista Dueños</a></div>
}
