@page
@model MascotaFeliz.App.FrontEnd.Pages.ListaDuenosModel
@{
}
<h1>Lista de Dueños</h1>
<h2>Aqui va la lista de los dueños</h2>
<table class="table">
    <tr>
        <td>Nombres</td>
        <td>Apellidos</td>
    </tr>
    @foreach (var dueno in Model.listaDuenos)
    {
        <tr>
            <td>@dueno.Nombres</td>
            <td>@dueno.Apellidos</td>
            <td><a class="btn btn-primary table-btn" asp-page="./DetallesDuenos" asp-route-duenoId="@dueno.Id">
                    Detalles
                </a></td>
            <td><a class="btn btn-primary table-btn" asp-page="./EditarDuenos" asp-route-duenoId="@dueno.Id">
                    Editar
                </a></td>
            <td><a class="btn btn-primary table-btn" asp-page="./EliminarDuenos" asp-route-duenoId="@dueno.Id">
                    Eliminar
                </a></td>
    </tr>
    }
</table>
<a class = "btn btn-primary table-btn" asp-page="./EditarDuenos" class="btn-default">Agregar Dueño</a>