@page
@model MascotaFeliz.App.FrontEnd.Pages.ListaVeterinariosModel
@{
}
<h1>Lista de Veterinarios</h1>
<h2>Aqui va la lista de los veterinarios</h2>
<table class="table">
    <tr>
        <td>Id</td>
        <td>Nombres</td>
        <td>Apellidos</td>
        <td>Direccion</td>
        <td>Telefono</td>
        <td>Tarjeta Profesional</td>
    </tr>
    @foreach (var veterinario in Model.listaVeterinarios)
    {
        <tr>
            <td>@veterinario.Id</td>
            <td>@veterinario.Nombres</td>
            <td>@veterinario.Apellidos</td>
            <td>@veterinario.Direccion</td>
            <td>@veterinario.Telefono</td>
            <td>@veterinario.TarjetaProfesional</td>
            <!--<td><a class="btn btn-primary table-btn" asp-page=".\DetallesDuenos" asp-route-duenoID="@veterinario.Id">
                    Detalle Dueño
                </a></td>-->
    </tr>
    }
</table>
