@page
@model MascotaFeliz.App.FrontEnd.Pages.ListaVeterinariosModel
@{
}
<h1>Lista de Veterinarios</h1>
<h2>Aqui va la lista de los veterinarios</h2>
<table class="table">
    <tr>
        <td>Nombres</td>
        <td>Apellidos</td>
        <td>Tarjeta Profesional</td>
    </tr>
    @foreach (var veterinario in Model.listaVeterinarios)
    {
        <tr>
            <td>@veterinario.Nombres</td>
            <td>@veterinario.Apellidos</td>
            <td>@veterinario.TarjetaProfesional</td>
            <td><a class="btn btn-primary table-btn" asp-page="./DetallesVeterinarios" asp-route-veterinarioId="@veterinario.Id">
                    Detalles
                </a></td>
            <td><a class="btn btn-primary table-btn" asp-page="./EditarVeterinarios" asp-route-veterinarioId="@veterinario.Id">
                    Editar
                </a></td>
    </tr>
    }
</table>
<a class = "btn btn-primary table-btn" asp-page="./EditarVeterinarios" class="btn-default">Agregar Veterinario</a>
